<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Designer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MappingTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Designer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Designer.Properties.Settings>
            <setting name="EuroJudoTournamentQuery" serializeAs="String">
                <value>SELECT DISTINCT [Game Index], Tournament FROM [Tournament Data] ORDER BY [Game Index]</value>
            </setting>
            <setting name="EuroJudoEventQuery" serializeAs="String">
                <value>SELECT [Event Nr], [Genus], [Group] FROM [Tournament Data] WHERE [Game Index] = ##SelectedEuroJudoTournament_Index## ORDER BY [Event Nr]</value>
            </setting>
            <setting name="EuroJudoWeightQuery" serializeAs="String">
                <value>SELECT [Class Nr], [Group], [Weight Category] FROM [Weight Categories] WHERE [Game Index] = ##SelectedEuroJudoTournament_Index## ORDER BY [Class Nr]</value>
            </setting>
        </Designer.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <MappingTool.Properties.Settings>
            <setting name="GeneralImportFilename" serializeAs="String">
                <value />
            </setting>
            <setting name="GeneralImportHeaders" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GeneralImportRemoveTotalRow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GeneralImportDelimiter" serializeAs="String">
                <value>,</value>
            </setting>
            <setting name="IJFExportFolder" serializeAs="String">
                <value>C:\my_ippon.org\events</value>
            </setting>
            <setting name="ReferenceClubsFilename" serializeAs="String">
                <value>Reference\Clubs.csv</value>
            </setting>
            <setting name="ReferenceCountriesFilename" serializeAs="String">
                <value>Reference\Countries.csv</value>
            </setting>
            <setting name="EuroJudoDatabaseFilename" serializeAs="String">
                <value>C:\EuroJudo\Tournaments.mdb</value>
            </setting>
            <setting name="EuroJudoExportFilename" serializeAs="String">
                <value>C:\EuroJudo\Data\Members &amp; Clubs for import.xls</value>
            </setting>
            <setting name="ReferenceSubDivisionsFilename" serializeAs="String">
                <value>Reference\SubDivisions.csv</value>
            </setting>
            <setting name="EuroJudoEventValueMinimumComparison" serializeAs="String">
                <value>66</value>
            </setting>
            <setting name="EuroJudoWeightValueMinimumComparison" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="BeltValueMinimumComparison" serializeAs="String">
                <value>33</value>
            </setting>
            <setting name="EuroJudoGenderValueMinimumComparison" serializeAs="String">
                <value>33</value>
            </setting>
            <setting name="EuroJudoClubValueMinimumComparison" serializeAs="String">
                <value>66</value>
            </setting>
            <setting name="EuroJudoWeightCategoryOverReplacement" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>O</string>
                        <string>&gt;</string>
                        <string>over</string>
                        <string>Over</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="EuroJudoWeightCategoryUnderReplacement" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>U</string>
                        <string>&lt;</string>
                        <string>under</string>
                        <string>Under</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="EuroJudoWeightCategoryOverValue" serializeAs="String">
                <value>+</value>
            </setting>
            <setting name="EuroJudoWeightCategoryUnderValue" serializeAs="String">
                <value>-</value>
            </setting>
            <setting name="EuroJudoTournamentQuery" serializeAs="String">
                <value>SELECT DISTINCT [Game Index], Tournament FROM [Tournament Data] ORDER BY [Game Index]</value>
            </setting>
            <setting name="EuroJudoEventQuery" serializeAs="String">
                <value>SELECT [Event Nr], [Genus], [Group] FROM [Tournament Data] WHERE [Game Index] = ##SelectedEuroJudoTournament_Index## ORDER BY [Event Nr]</value>
            </setting>
            <setting name="EuroJudoWeightQuery" serializeAs="String">
                <value>SELECT [Class Nr], [Group], [Weight Category], [Lower Limit], [Upper Limit] FROM [Weight Categories] WHERE [Game Index] = ##SelectedEuroJudoTournament_Index## ORDER BY [Class Nr]</value>
            </setting>
            <setting name="PreviousEuroJudoTournament" serializeAs="String">
                <value />
            </setting>
            <setting name="PreviousEuroJudoEventTypeColumnIndex" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="PreviousEuroJudoWeightCategoryColumnIndex" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="PreviousClubColumnIndex" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="PreviousMemberIDColumnIndex" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="PreviousYearOfBirthColumnIndex" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="PreviousGenderColumnIndex" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="PreviousBeltColumnIndex" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="PreviousFirstNameColumnIndex" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="PreviousSurnameColumnIndex" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="PreviousEuroJudoDayOfBirthColumnIndex" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="PreviousFirstNameTranslationType" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="PreviousSurnameTranslationType" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="PreviousMemberIDTranslationType" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="PreviousEuroJudoDayOfBirthTranslationType" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="PreviousEuroJudoMonthOfBirthTranslationType" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="PreviousEuroJudoYearOfBirthTranslationType" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="EuroJudoFunctionValueMinimumComparison" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="PreviousEuroJudoFunctionColumnIndex" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="PreviousDateOfBirthColumnIndex" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="IJFDatabaseConnectionString" serializeAs="String">
                <value>SERVER=localhost;UID=your_user;DATABASE=ippon_org_db;PORT=3306</value>
            </setting>
            <setting name="PreviousIJFTournament" serializeAs="String">
                <value />
            </setting>
            <setting name="IJFTournamentQuery" serializeAs="String">
                <value>SELECT event_id, event_name FROM ippon_org_db.tta_events;</value>
            </setting>
            <setting name="PreviousOutputType" serializeAs="String">
                <value />
            </setting>
            <setting name="IJFWeightCategoryOverReplacement" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>O</string>
                        <string>&gt;</string>
                        <string>over</string>
                        <string>Over</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="IJFWeightCategoryOverValue" serializeAs="String">
                <value>+</value>
            </setting>
            <setting name="IJFWeightCategoryUnderReplacement" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>U</string>
                        <string>&lt;</string>
                        <string>under</string>
                        <string>Under</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="IJFWeightCategoryUnderValue" serializeAs="String">
                <value>-</value>
            </setting>
            <setting name="IJFWeightValueMinimumComparison" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="IJFFunctionValueMinimumComparison" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="PreviousIJFFunctionColumnIndex" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="IJFWeightQuery" serializeAs="String">
                <value>SELECT event_age_group, event_gender, event_cat_m, event_cat_w FROM ippon_org_db.tta_events
 WHERE event_name = '##SelectedIJFTournament_Name##';</value>
            </setting>
            <setting name="PreviousIJFWeightCategoryColumnIndex" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="PreviousIJFPhotoColumnIndex" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="IJFUserPhotoSaveFolder" serializeAs="String">
                <value>C:\my_ippon.org\my_pics</value>
            </setting>
            <setting name="GeneralImportRemoveLateFeeTotalRow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IJFPhotoFilenameIsMemberID" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GeneralClubDefaultCountryCode" serializeAs="String">
                <value>AUS</value>
            </setting>
            <setting name="GeneralShowDataInfoWindow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IJFSystemPhotoSaveFolder" serializeAs="String">
                <value>C:\xampp\htdocs\ippon.org\data\pics</value>
            </setting>
        </MappingTool.Properties.Settings>
        <Designer.Properties.Settings>
            <setting name="ImportFilename" serializeAs="String">
                <value>C:\Users\YourUser\OneDrive\VS Projects\Revolutionise\Samples\revolutioniseSPORT-JudoWA-Anothertest.csv</value>
            </setting>
            <setting name="ImportHeaders" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ImportRemoveTotalRow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ImportDelimiter" serializeAs="String">
                <value>,</value>
            </setting>
            <setting name="IJFExportFilename" serializeAs="String">
                <value />
            </setting>
            <setting name="ClubsFilename" serializeAs="String">
                <value>C:\Users\YourUser\OneDrive\VS Projects\Revolutionise\Samples\Clubs.csv</value>
            </setting>
            <setting name="CountriesFilename" serializeAs="String">
                <value>C:\Users\YourUser\OneDrive\VS Projects\Revolutionise\Samples\Countries.csv</value>
            </setting>
            <setting name="EuroJudoDatabaseFilename" serializeAs="String">
                <value>C:\Users\YourUser\OneDrive\Documents\Judo\Tournaments\Tournaments.mdb</value>
            </setting>
            <setting name="EuroJudoExportFilename" serializeAs="String">
                <value>C:\Users\YourUser\OneDrive\VS Projects\Revolutionise\Samples\euro.xls</value>
            </setting>
            <setting name="SubDivisionsFilename" serializeAs="String">
                <value>C:\Users\YourUser\OneDrive\VS Projects\Revolutionise\Samples\SubDivisions.csv</value>
            </setting>
            <setting name="EuroJudoEventValueMinimumComparison" serializeAs="String">
                <value>66</value>
            </setting>
            <setting name="EuroJudoWeightValueMinimumComparison" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="EuroJudoBeltValueMinimumComparison" serializeAs="String">
                <value>33</value>
            </setting>
            <setting name="EuroJudoGenderValueMinimumComparison" serializeAs="String">
                <value>33</value>
            </setting>
            <setting name="EuroJudoClubValueMinimumComparison" serializeAs="String">
                <value>66</value>
            </setting>
            <setting name="EuroJudoWeightCategoryOverReplacement" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>O</string>
                        <string>&gt;</string>
                        <string>over</string>
                        <string>Over</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="EuroJudoWeightCategoryUnderReplacement" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>U</string>
                        <string>&lt;</string>
                        <string>under</string>
                        <string>Under</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="EuroJudoWeightCategoryOverValue" serializeAs="String">
                <value>+</value>
            </setting>
            <setting name="EuroJudoWeightCategoryUnderValue" serializeAs="String">
                <value>-</value>
            </setting>
            <setting name="LastEuroJudoTournament" serializeAs="String">
                <value />
            </setting>
            <setting name="LastEuroJudoEventTypeColumnIndex" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="LastEuroJudoWeightCategoryColumnIndex" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="LastEuroJudoClubColumnIndex" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="LastEuroJudoMemberIDColumnIndex" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="LastEuroJudoYearOfBirthColumnIndex" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="LastEuroJudoGenderColumnIndex" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="LastEuroJudoBeltColumnIndex" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="LastEuroJudoFirstNameColumnIndex" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="LastEuroJudoLastNameColumnIndex" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="LastEuroJudoDayOfBirthColumnIndex" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="LastEuroJudoMonthOfBirthColumnIndex" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="LastEuroJudoFirstNameTranslationType" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="LastEuroJudoLastNameTranslationType" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="LastEuroJudoMemberIDTranslationType" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="LastEuroJudoDayOfBirthTranslationType" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="LastEuroJudoMonthOfBirthTranslationType" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="LastEuroJudoYearOfBirthTranslationType" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="EuroJudoFunctionValueMinimumComparison" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="LastEuroJudoFunctionColumnIndex" serializeAs="String">
                <value>-1</value>
            </setting>
        </Designer.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
