<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Designer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Designer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Designer.Properties.Settings>
            <setting name="EuroJudoTournamentQuery" serializeAs="String">
                <value>SELECT DISTINCT [Game Index], Tournament FROM [Tournament Data] ORDER BY [Game Index]</value>
            </setting>
            <setting name="EuroJudoEventQuery" serializeAs="String">
                <value>SELECT [Event Nr], [Genus], [Group] FROM [Tournament Data] WHERE [Game Index] = ##SelectedEuroJudoTournament_Index## ORDER BY [Event Nr]</value>
            </setting>
            <setting name="EuroJudoWeightQuery" serializeAs="String">
                <value>SELECT [Class Nr], [Group], [Weight Category] FROM [Weight Categories] WHERE [Game Index] = ##SelectedEuroJudoTournament_Index## ORDER BY [Class Nr]</value>
            </setting>
        </Designer.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Designer.Properties.Settings>
            <setting name="EuroJudoEventValueMinimumComparison" serializeAs="String">
                <value>66</value>
            </setting>
            <setting name="EuroJudoWeightValueMinimumComparison" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="EuroJudoWeightCategoryOverReplacement" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>O</string>
                        <string>&gt;</string>
                        <string>over</string>
                        <string>Over</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="EuroJudoWeightCategoryUnderReplacement" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>U</string>
                        <string>&lt;</string>
                        <string>under</string>
                        <string>Under</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="EuroJudoWeightCategoryOverValue" serializeAs="String">
                <value>+</value>
            </setting>
            <setting name="EuroJudoWeightCategoryUnderValue" serializeAs="String">
                <value>-</value>
            </setting>
            <setting name="EuroJudoClubValueMinimumComparison" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="EuroJudoDatabaseFilename" serializeAs="String">
                <value>C:\Users\YourUser\OneDrive\Documents\Judo\Tournaments\Tournaments.mdb</value>
            </setting>
            <setting name="EuroJudoExportFilename" serializeAs="String">
                <value>C:\Users\YourUser\OneDrive\VS Projects\Revolutionise\Samples\euro.xls</value>
            </setting>
            <setting name="EuroJudoClubsFilename" serializeAs="String">
                <value>C:\Users\YourUser\OneDrive\VS Projects\Revolutionise\Samples\Clubs.csv</value>
            </setting>
            <setting name="EuroJudoCountriesFilename" serializeAs="String">
                <value>C:\Users\YourUser\OneDrive\VS Projects\Revolutionise\Samples\Countries.csv</value>
            </setting>
            <setting name="EuroJudoSubDivisionsFilename" serializeAs="String">
                <value>C:\Users\YourUser\OneDrive\VS Projects\Revolutionise\Samples\SubDivisions.csv</value>
            </setting>
            <setting name="LastEuroJudoTournament" serializeAs="String">
                <value />
            </setting>
            <setting name="ImportFilename" serializeAs="String">
                <value>C:\Users\YourUser\OneDrive\VS Projects\Revolutionise\Samples\revolutioniseSPORT-JudoWA-Anothertest.csv</value>
            </setting>
            <setting name="LastEuroJudoEventTypeColumnIndex" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="LastEuroJudoWeightCategoryColumnIndex" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="LastEuroJudoClubColumnIndex" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ImportFileHasHeaders" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RemoveTotalRowFromImport" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastImportDelimiter" serializeAs="String">
                <value>,</value>
            </setting>
            <setting name="IJFExportFilename" serializeAs="String">
                <value />
            </setting>
        </Designer.Properties.Settings>
    </userSettings>
</configuration>